telethon==1.34.0
python-dotenv==1.0.1
requests==2.31.0
aiohttp==3.9.5
yt-dlp
pillow==10.2.0
g4f==0.2.0.3
beautifulsoup4==4.12.3
googletrans==4.0.2
qrcode==7.4.2
wikipedia==1.4.2
pyjokes==0.6.0
psutil==5.9.8
